{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<!--image-->
<div class="container-fluid px-0 ">
    <img src="/static/car6.jfif" class="d-block w-100" alt="...">
  </div>
  <!--content-->
  <div class="section the_content has_content">
    <div class="section_wrapper" style="margin: 5%;">
      <div class="the_content_wrapper ">
    <p>Sports cars may be flashy, fun, and exciting, but even the most overcharged rides pale in comparison to a <strong><em>supercar</em></strong>. Though sports cars and supercars have shared origins, they have evolved to become distinct types of motor vehicles. Supercars, also known as exotic cars, are some of the&nbsp;<a href="https://www.complex.com/sports/2014/06/what-is-definition-of-supercar/">most extravagant and powerful</a>&nbsp;machines ever to zoom on four wheels.</p>
    
    
    
    <p>Yet, to better understand and appreciate supercars, it might be helpful to have a few supercar facts on hand. Some of these tidbits will leave you musing over just how much is hidden under the hood. Check it out!</p>
    
    
    
    <h2>What is a Supercar?</h2>
    
    
    
    <p>A supercar is a powerful, sleek, and luxurious vehicle. Supercars are often referred to as exotic cars because they’re typically imported. They may also be confused with their close automotive cousins, sports cars.</p>
    
    
    
    <p>However, whereas a sports car is a fun, approachable speed machine, a supercar is a beast of a completely different caliber. Some of the fastest, most powerful, most unique, and most opulent motor vehicles are supercars. Still, it may be better to learn about these fascinating machines by exploring some fantastic exotic car facts.</p>
    
    
    
    <p>Keep reading to discover a little more about what makes supercars stand out.</p>
    
    
    
    <h2>Incredible Supercar Facts</h2>
    
    
    
    <p>Here are eleven facts about supercars that may surprise you, or even shock you. Still, be warned that this information may inspire you to&nbsp;<a href="https://www.refined-marques.com/luxury-hire/">get behind the wheel</a>&nbsp;of a supercar. Once you’ve tasted the freedom and splendor of one of these magnificent vehicles, an average sedan just won’t feel the same.</p>
    
    
    
    <h3>1.&nbsp;Lamborghinis Weren’t Always Luxurious</h3>
    
    
    
    <p>Believe it or not, there was once a time when Lamborghinis were colorful tractors, not sporty race cars&nbsp;or luxury coupes.&nbsp;Ferruccio Lamborghini was picking up the pieces of his life and his country after the end of World War II. He used surplus or damaged military vehicle parts to craft his first line of tractors.</p>
    
    
    
    <p>His hard work and perseverance paid off when he was finally able to afford a Ferrari. Immediately, he became addicted to luxury sports cars and felt determined to create his own. In&nbsp;1963, Lamborghini transformed himself and the world forever by releasing the Lamborghini 350 GTV.</p>
    
    
    
    <h3>2. Bentley&nbsp;Teaches Ice Driving</h3>
    
    
    
    <p>Bentleys are known as rather posh vehicles, often popular with the English and European aristocracy and elite. So, it may come as a surprise that Bentley hosts a daring ice race in Finland that puts pristine Bentley vehicles to the test. The drivers who decide to partake in the Power on Ice experience may experience speeds over 200mph while flying through icy turns.</p>
    
    
    
    <h3>3. Porsche Sometimes Fails to Turn a Profit</h3>
    
    
    
    <p>Porsche, as a company, isn’t wanting for funds. In 2019, Porsche earned more than 28 billion dollars. Still, they don’t always receive a profit on their vehicles.</p>
    
    
    
    <p>The Porsche 918 Spyder is a hybrid vehicle that required so much intensive research, engineering, and development, that Porsche still hasn’t recouped expenses on the supercar.</p>
    
    
    
    <h3>4. Bugatti’s Secret Radiators</h3>
    
    
    
    <p>The Bugatti Veyron features an astounding sixteen-cylinder engine. This massive chunk of engineering gold requires a lot of radiators to cool it down. This Bugatti contains no less than twelve separate radiators placed throughout the internal body of the car.</p>
    
    
    
    <p>If a single radiator were used to cool the Veyron’s engine, it would be nearly as large as the vehicle itself!</p>
    
    
    
    <h3>5. Most Are Customized Pieces</h3>
    
    
    
    <p>Most supercars are customized builds that cannot be found in a typical car lot. Wealthy investors typically contact their preferred manufacturer and supply their specifications and needs. The manufacturers then spend at least a year designing and building that personalized supercar for the client.</p>
    
    
    
    <p>The majority of supercars on the market today were created for a specific customer. Fortunately for many investors and prospective buyers, this means that there will always be more, and newer models in the used car market.</p>
    
    
    
    <h3>6. Musically-Inclined Engineering</h3>
    
    
    
    <p>Every Ferrari engine is crafted with music in mind. The engine generates tones via the air intake. These tones register as harmonics, blending together in an almost orchestral way.</p>
    
    
    
    <h3>7. Safer Than the Average Car</h3>
    
    
    
    <p>Some of the newest supercars are fantastically safe. Not only are they equipped with the latest safety tech, but they also produce zero carbon emissions. The Tesla S, for example, is a completely silent vehicle that only has one gear.&nbsp;</p>
    
    
    
    <h3>8. You Can Drive One Today</h3>
    
    
    
    <p>You don’t have to own a supercar to drive one or ride in one. There is a massive amount of&nbsp;<a href="https://www.refined-marques.com/services/">supercar services available</a>&nbsp;to those interested in riding in style. Of course, one of the most attractive qualities of supercars is their penchant for speed.&nbsp;</p>
    
    
    
    <p>There are race tracks all over the world that cater to drivers who want to burn rubber in a luxury exotic car. Anyone with a passion for these vehicles has multiple opportunities to experience them first-hand.</p>
    
    
    
    <h3>9. Quality That Lasts</h3>
    
    
    
    <p>Rolls Royce is certainly one of the oldest manufacturers of luxury cars. Their vehicles have been associated with wealth and opulence for more than a century. But perhaps more impressive than their branding strategy is their vehicle quality.</p>
    
    
    
    <p>About 2/3 of all Rolls Royce cars ever released are still in use today. While most cars are traded-in at 100,000 miles, these vehicles can last potentially forever. That’s a supercar.</p>
    
    
    
    <h3>10. Rich Tastes</h3>
    
    
    
    <p>The most expensive car ever sold was a supercar. In 2018, a 1962&nbsp;Ferrari 250 GTO sold for&nbsp;<a href="https://www.cnbc.com/2018/08/27/most-expensive-car-ever-sold-at-auction-fetches-48-million.html">over 48 million dollars</a>&nbsp;to an unknown buyer. It was one of only 32 ever created by the infamous Italian company.</p>
    
    
    
    <p>One of the greatest restrictions on supercars is the price. However, thanks to entrepreneurial rental companies and chauffeur services, nearly anyone can experience the joy and power of an exotic car.</p>
    
    
    
    <h3>11. Artificial Engine Noise</h3>
    
    
    
    <p>BMW has run into some novel problems over the last decade, including a massively disliked GPS assistant. However, it’s worth noting that one of their most significant issues is also one of their greatest achievements. The engine on a&nbsp;BMW M5 is so utterly silent that the manufacturers decided it was too quiet.</p>
    
    
    
    <p>To remedy the eerie-yet-efficient silence, they installed an audio recording of an engine that plays from time to time.</p>
    
    
    
    <h2>Experience the Luxury of a Supercar</h2>
    
    
    
    <p>Hopefully, you’ve enjoyed taking the time to learn a little more about supercars and just how super they really are. Every single model is a feat of engineering, a driveable marvel. These supercar facts prove that.</p>
    
    
    
    <p>Exotic cars, luxury yachts, and all the finer things in life are only a click or call away. Life is short, and you deserve to enjoy every second of it. If you’re seeking a customized supercar, private jet, or more, please don’t hesitate to&nbsp;<a href="https://refined-marques.com/contact/">contact Refined Marques</a>&nbsp;today.</p>
    </div></div>
  </div>
{% endblock body %}