{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="container px-0 ">
    <img src="/static/audi.jpg" class="d-block w-100 my-3"  alt="...">
    <img src="/static/bmw.jpg" class="d-block w-100 my-3" alt="...">
    <img src="/static/mercedes.jpg" class="d-block w-100 my-3" alt="...">
    <img src="/static/freeari.jpg" class="d-block w-100 my-3" alt="...">
    <img src="/static/porsche.jpg" class="d-block w-100 my-3"  alt="...">
    <img src="/static/car2.jfif" class="d-block w-100 my-3" alt="...">
    <img src="/static/car3.jfif" class="d-block w-100 my-3" alt="...">
    <img src="/static/car4.jfif" class="d-block w-100 my-3" alt="...">
</div>
{% endblock body %}